.overlay-mask {
    background: rgba(254, 254, 254, 0.70);
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999999999;
    text-align: center;
    padding-top: 100px;
}

.spinner {
    width: 70px;
    display: inline-flex;
}